version: "3.8"
services:
  app:
    build: ./infra/php
    volumes:
      - ./backend:/work
  
  web:
    build: ./infra/nginx
    ports:
      - 10080:80
    volumes:
      - ./backend:/work
      - ./infra/nginx/default.conf:/etc/nginx/conf.d/defauld.conf
    working_dir: /work
 
  db:
    build: ./infra/mysql
    volumes:
      - db-store:/var/lib/mysql

volumes:
  db-store: